.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('C:\Users\Akshara\OneDrive\Desktop\Legal document summarization\legal-summarizer\src\legal.jpeg');
    background-size: cover;
    color: white;
  }
  
  .home-content {
    text-align: center;
  }

  .home-content h1 {
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .home-content p {
    color: white;
    font-size: 1.5em;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .get-started-btn {
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
  }
  
  .get-started-btn:hover {
    background-color: #0056b3;
  }